@font-face {
    font-family: 'asem_kandisregular';
    src: url('https://https://adolfolh.github.io/css/font/webfontkit-20200723-183157') format('woff2'),
         url('https://https://adolfolh.github.io/css/font/webfontkit-20200723-183157') format('woff');
    font-weight: normal;
    font-style: normal;

}