@font-face {
    font-family: 'Asem Kandis';
    src: url('fonts/AsemKandis.eot');
    src: url('fonts/AsemKandis.eot?#iefix') format('embedded-opentype'),
        url('fonts/AsemKandis.woff2') format('woff2'),
        url('fonts/AsemKandis.woff') format('woff'),
        url('fonts/AsemKandis.ttf') format('truetype'),
        url('fonts/AsemKandis.svg#AsemKandis') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ronet DEMO';
    src: url('fonts/RonetDEMO.eot');
    src: url('fonts/RonetDEMO.eot?#iefix') format('embedded-opentype'),
        url('fonts/RonetDEMO.woff2') format('woff2'),
        url('fonts/RonetDEMO.woff') format('woff'),
        url('fonts/RonetDEMO.ttf') format('truetype'),
        url('fonts/RonetDEMO.svg#RonetDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

